:root {

  --background-1: #1D1B18;			/* N1 900 	*/
  --background-2: #494643;			/* N1 700	*/
  --background-3: #33302D;			/* N1 800	*/
  --border-color: #797672;			/* N1 500	*/
  --foreground-1: #C9C5C0;			/* N1 200	*/
  --foreground-2: #92908B;			/* N1 400	*/
 
  --sn-stylekit-neutral-color: var(--foreground-2); 
  --sn-stylekit-neutral-contrast-color: black;			

  --sn-stylekit-info-color: #998F6F;		/* A3 400	*/
  --sn-stylekit-info-contrast-color: black;		
  --sn-stylekit-info-backdrop-color: var(--background-3);
	
  --sn-stylekit-success-color: #66BB6A;		/* Ax 400	*/
  --sn-stylekit-success-contrast-color: black;		
	
  --sn-stylekit-warning-color: #FFCA28;		/* Ax 400	*/
  --sn-stylekit-warning-contrast-color: black;	
	
  --sn-stylekit-danger-color: #EF5350;		/* Ax 400	*/			
  --sn-stylekit-danger-light-color: var(--background-2);		
  --sn-stylekit-danger-contrast-color: black;
			
  --sn-stylekit-shadow-color: var(--border-color); 		
  --sn-stylekit-background-color: var(--background-1);	
  --sn-stylekit-border-color: var(--border-color);		
  --sn-stylekit-foreground-color: var(--foreground-1);		
  --sn-stylekit-contrast-background-color: var(--background-3);		
  --sn-stylekit-contrast-border-color: var(--border-color);		
  --sn-stylekit-contrast-foreground-color: var(--foreground-1);		
  --sn-stylekit-secondary-background-color: var(--background-2);	
  --sn-stylekit-secondary-foreground-color: var(--foreground-1);	
  --sn-stylekit-secondary-border-color: var(--border-color);		
  --sn-stylekit-secondary-contrast-background-color: var(--background-2);	 
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-1);	 
  --sn-stylekit-editor-background-color: var(--background-1);	
  --sn-stylekit-editor-foreground-color: var(--foreground-1);	
  --sn-stylekit-paragraph-text-color: var(--foreground-1);		
  --sn-stylekit-input-placeholder-color: var(--foreground-2);		
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);		
  --sn-stylekit-passive-color-0: var(--foreground-2);  					 		
  --sn-stylekit-passive-color-1: var(--foreground-2);
  --sn-stylekit-passive-color-2: var(--background-2);	 		
  --sn-stylekit-passive-color-3: var(--border-color);
  --sn-stylekit-passive-color-4: var(--background-2);	
  --sn-stylekit-passive-color-4-opacity-variant: var(--background-2);	
  --sn-stylekit-passive-color-5: var(--background-3);			
  
  --sn-stylekit-accessory-tint-color-1: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-2: var(--sn-stylekit-info-color);         
  --sn-stylekit-accessory-tint-color-3: var(--sn-stylekit-info-color);         
  --sn-stylekit-accessory-tint-color-4: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-5: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-6: var(--sn-stylekit-info-color); 

  --navigation-item-selected-background-color: var(--sn-stylekit-background-color);
}


:root .sk-app-bar {
  color: var(--foreground-2) !important;
}

:root .sk-menu-panel {
  color: var(--foreground-1) !important;
}

:root .cm-s-default .cm-variable-3,
:root .cm-s-default .cm-type {
  color: var(--success-color) !important;
}

:root .cm-s-default .cm-variable-3 {
  color: #5acf83;
}
:root #editor-menu-bar > div > div.sk-app-bar-item.selected > div.sk-menu-panel.dropdown-menu.ng-scope > div:nth-child(1) > menu-row:nth-child(7) > div > div > div > div > div {
  color: var(--danger-color);
}
:root .tags .tag > .tag-info > .tag-icon {
	opacity: 0.4;
}
:root #tags-content > div.scrollable > div > div.tag.ng-scope.selected > div.tag-info > div.tag-icon {
	opacity: 0.5;
}
:root div.tag-info.level-1 > div.sk-circle.small.info {
	opacity: 0.6;
}
:root div.tag-info.level-1 > div.sk-circle.small.success {
	opacity: 0.6;
}
:root div.tag-info.level-2 > div.sk-circle.small.success {
	opacity: 0.6;
}
:root div.tag-info.level-3 > div.sk-circle.small.danger {
	opacity: 0.6;
}
:root div.tag-info.level-4 > div.sk-circle.small.warning {
	opacity: 0.6;
}
:root div.tag-info.level-5 > div.sk-circle.small.neutral {
	opacity: 0.6;
}

:root .tag-tree .self.selected:before {
	background: none;
	background-color: var(--sn-stylekit-secondary-contrast-background-color);
	opacity: 1;
}

:root .tag-tree .self .tag-info .action-menu {
	margin-left: auto;
	margin-right: 0;
}
:root .tags .tag > .menu:hover {
	opacity: 0.5;
}
